-# #loading{style: "display: none"} loading...
#twitter_invite.invite_dialog{style: "display: none;", title: ""}
  %p.note Send direct message
  .invite_wrap
    #page-header
      %h1#js-twitter-invite-header
    = render 'twitter/messages/form', message: TwitterMessage.new, remote: true
