.bundle
.DS_Store
.idea
.sass-cache
*.swp
log
log/*
locale/**/LC_MESSAGES
db/*.db
db/*.sqlite3
db/schema.rb
tmp/**/*
tmp/*
doc/api
doc/app
config/database.yml
config/deploy/config.rb
features_rcov
features.txt
coverage*
public/assets
public/assets/*js
public/assets/*css
public/test*
public/compiled*
public/stylesheets/compiled*
rerun.txt
data/asset*
locale/**/LC_MESSAGES
capybara-*
*.gems
public/sitemap*
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
