%table{:style => "background:none;margin: 0 auto;width:600px;"}
  %tbody

    %tr
      %td{:style=>"padding-top:15px;text-align: left;"}
        %p{:style => "color:#999;font-style:italic;margin:3px 0 20px;font-size:11px"}
          © 2012
          = link_to "GiveBrand", "http://givebrand.com/", :style => "color: #{@link_color}; font-size:11px;"

      %td{:style=>"padding-top:15px;text-align: right;"}
        %p{:style => "color:#999;font-style:italic;margin:3px 0 20px;font-size:11px"}
          All rights reserved.
