%p Hey, #{@tagged.full_name}.

%p Great news: #{@tagger.full_name} added a new tag for you! Here it is: #{@tag_names.join(', ')}

%p Love it? We're humbled just to know you. Rock on!

%p Not so much? Head to your profile and click the little red "X" to get rid of the tag. (Other people may have their thoughts on what you're best at, but you're the final gatekeeper.)

%p Won't you consider paying it forward? Keep the love flowing... tag one of your contacts. Have a great day!

%br
%p The GiveBrand team
