%p Dear #{@user.full_name},

%p Welcome to GiveBrand!

%p We can't wait to watch with you as your influence grows across our site and news of your swagger spreads like wildfire.

%p Now that you've got your account set up, what's next? We've got a few ideas:

%ul
  %li Flesh out your profile. Add a profile photo and a little personal information.
  %li Invite your friends and professional contacts to join — cast a wide net!
  %li Share your profile to your Facebook and Twitter contacts…see what happens.

%p Thanks again for signing up. If you have any questions, we're always here to answer them. Just jot us a note at russ@givebrand.com

%p Now get taggin'!

%br
%p The GiveBrand team
