/*
Syntax error: File to import not found or unreadable: base.
              Load paths:
                Compass::SpriteImporter
                /home/bobi/dev/GetCredible/public/stylesheets/sass
                /home/bobi/dev/GetCredible/app/assets/stylesheets
                /home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/compass-0.11.7/frameworks/blueprint/stylesheets
                /home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/compass-0.11.7/frameworks/compass/stylesheets
        on line 16 of /home/bobi/dev/GetCredible/app/assets/stylesheets/application.css.scss

11:  *= require_self
12:  *= require_tree .
13: */
14: @import "compass/reset";
15: // Framework imports and common settings
16: @import "base";
17: //@import "bootstrap";
18: 
19: // Lato font
20: @import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
21: 

Backtrace:
/home/bobi/dev/GetCredible/app/assets/stylesheets/application.css.scss:16
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/import_node.rb:64:in `rescue in import'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/import_node.rb:42:in `import'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/import_node.rb:25:in `imported_file'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/engine.rb:247:in `block in render'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/util.rb:310:in `silence_sass_warnings'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/engine.rb:247:in `render'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/plugin.rb:81:in `update_stylesheets'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/plugin.rb:54:in `check_for_updates'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/sass-3.1.15/lib/sass/plugin/rack.rb:51:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/warden-1.1.1/lib/warden/manager.rb:35:in `block in call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/warden-1.1.1/lib/warden/manager.rb:34:in `catch'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/warden-1.1.1/lib/warden/manager.rb:34:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/rack-1.4.1/lib/rack/etag.rb:23:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/rack-1.4.1/lib/rack/conditionalget.rb:25:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/head.rb:14:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/flash.rb:242:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/rack-1.4.1/lib/rack/session/abstract/id.rb:205:in `context'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/rack-1.4.1/lib/rack/session/abstract/id.rb:200:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/cookies.rb:338:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/activerecord-3.2.2/lib/active_record/query_cache.rb:64:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/activerecord-3.2.2/lib/active_record/connection_adapters/abstract/connection_pool.rb:443:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/callbacks.rb:28:in `block in call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/activesupport-3.2.2/lib/active_support/callbacks.rb:405:in `_run__1510197701680232339__call__4469695819896419646__callbacks'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/activesupport-3.2.2/lib/active_support/callbacks.rb:405:in `__run_callback'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/activesupport-3.2.2/lib/active_support/callbacks.rb:385:in `_run_call_callbacks'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/activesupport-3.2.2/lib/active_support/callbacks.rb:81:in `run_callbacks'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/callbacks.rb:27:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/reloader.rb:65:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/remote_ip.rb:31:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/debug_exceptions.rb:16:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/show_exceptions.rb:56:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/railties-3.2.2/lib/rails/rack/logger.rb:26:in `call_app'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/railties-3.2.2/lib/rails/rack/logger.rb:16:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/request_id.rb:22:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/rack-1.4.1/lib/rack/methodoverride.rb:21:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/rack-1.4.1/lib/rack/runtime.rb:17:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/activesupport-3.2.2/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/rack-1.4.1/lib/rack/lock.rb:15:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/actionpack-3.2.2/lib/action_dispatch/middleware/static.rb:61:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/railties-3.2.2/lib/rails/engine.rb:479:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/railties-3.2.2/lib/rails/application.rb:220:in `call'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/railties-3.2.2/lib/rails/railtie/configurable.rb:30:in `method_missing'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/unicorn-4.2.0/lib/unicorn/http_server.rb:530:in `process_client'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/unicorn-4.2.0/lib/unicorn/http_server.rb:604:in `worker_loop'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/unicorn-4.2.0/lib/unicorn/http_server.rb:487:in `spawn_missing_workers'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/unicorn-4.2.0/lib/unicorn/http_server.rb:137:in `start'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/unicorn-4.2.0/bin/unicorn_rails:209:in `<top (required)>'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/bin/unicorn_rails:19:in `load'
/home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/bin/unicorn_rails:19:in `<top (required)>'
-e:1:in `load'
-e:1:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: base.\A               Load paths:\A                 Compass::SpriteImporter\A                 /home/bobi/dev/GetCredible/public/stylesheets/sass\A                 /home/bobi/dev/GetCredible/app/assets/stylesheets\A                 /home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/compass-0.11.7/frameworks/blueprint/stylesheets\A                 /home/bobi/.rvm/gems/ruby-1.9.3-p125@getcredible/gems/compass-0.11.7/frameworks/compass/stylesheets\A         on line 16 of /home/bobi/dev/GetCredible/app/assets/stylesheets/application.css.scss\A \A 11:  *= require_self\A 12:  *= require_tree .\A 13: */\A 14: @import \"compass/reset\";\A 15: // Framework imports and common settings\A 16: @import \"base\";\A 17: //@import \"bootstrap\";\A 18: \A 19: // Lato font\A 20: @import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);\A 21: "; }
