%section#twitter_contacts.content
  %header#page-header

    %nav.right
      %ul.tabs
        %li{:class => users_active_class('followers')}
          = link_to 'Followers', followers_user_path(current_user), :class => 'js-remote'
        %li.last{:class => users_active_class('following')}
          = link_to "Following", following_user_path(current_user), :class => 'js-remote'
        %li.first{:class => users_active_class('pending')}
          = link_to 'Pending', pending_user_path(:current), :class => 'js-remote'
