#content
  %section#devise
    %header#page-header
      %h1 Forgot your password?

    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      %ul.inputs
        %li= f.input :email, :required => true
        %li.buttons= f.button :submit, "Submit", class: 'btn large primary'
      %br
%aside
  = render "links"
