#email_invite.invite_dialog{style: "display: none;", title: ""}
  %p.note Send email invitation
  .invite_wrap
    #page-header
      %h1 Invite and brand your friend
    = render 'users/invitations/form', message: EmailMessage.new
