%meta{ :"http-equiv" => 'Content Type', :content => 'text/html; charset=utf-8'}
%meta{ :'http-equiv' => 'X-UA-Compatible', :content => 'IE=8' }
%meta{ :"http-equiv" =>"image-toolbar", :content => "false" }
%meta{ :name => "robots", :content => "index, follow" }
%meta{ :name => "MSSmartTagsPreventParsing", :content => "true" }
%meta{ :name => "author", :content => "Valuescope GmbH" }
%meta{ :name => "google-site-verification", :content => "" }

-#%link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
-# %link{ :rel => "apple-touch-icon", :href => "/images/home-screen-icon.png"}
-# %link{ :rel => "apple-touch-startup-image", :href => "/images/ipad-startup.png"}
-# %link{ "rel" => "fluid-icon", "href" => "/images/fluid/fluid-512.png" }

= yield(:meta_tags)
