- url = user_path(current_user)
- title = "Check out my profile on GiveBrand"
- description = "Check out my profile on GiveBrand #{url}"

%section#no_tags
  = label_tag :url, "Don't be shy! Share your brand page now to start getting tagged."
  = text_field_tag :url, url
