- url = me_user_url(current_user)
- title = "Check out my profile on GiveBrand"
- description = "Check out my profile on GiveBrand #{url}"

%section#no_tags
  = label_tag :url, "Go ahead share your page to help build your brand!"
  = text_field_tag :url, url

  %div{class: "sharethis"}
    %span{class: 'st_linkedin_large', displayText: 'LinkedIn'}
    %span{class: 'st_facebook_large', displayText: 'Facebook'}
    %span{class: 'st_twitter_large', displayText: 'Tweet'}
    %span{class: 'st_plusone_large', displayText: 'Google +1'}
    %span{class: 'st_email_large', displayText: 'Email'}
    :javascript
      var switchTo5x=true;
    %script{type:"text/javascript", src: "http://w.sharethis.com/button/buttons.js"}
    :javascript
      stLight.options({publisher: "59d377c3-8222-4df7-bbb0-413a9cb64564"});
