- if user
  - incoming_activities =  user.incoming_activities.limit(5)
  - preload_associations(incoming_activities)
  #latest-activity
    %h2== #{user_short(user)} Activity
    %ul.list-view.unstyled
      - if incoming_activities.present?
        - incoming_activities.each do |activity_item|
          %li{:class => activity_class(activity_item)}
            .tag-icon
            = activity_description(activity_item)
      - else
        %li No recent activity
