- if current_user
  #latest-activity
    %h2 Latest incoming activity
    %ul.unstyled
      - current_user.incoming_activities.paginate(:page => 1, :per_page => 10).each do |activity_item|
        %li{:class => activity_class(activity_item)}
          %span.icon
          = activity_description(activity_item)

    = link_to 'View all incoming activity ►', activity_path('incoming')
