- if user
  - incoming_activities =  user.incoming_activities.limit(5)
  - outgoing_activities =  user.outgoing_activities.limit(5)
  - activities = incoming_activities + outgoing_activities
  - preload_associations(activities)
  .sidebar-item#latest-activity
    %h2== #{user_short(user)} Activity
    %ul.list-view.unstyled
      - if activities.present?
        - activities.each do |activity_item|
          %li{:class => activity_class(activity_item)}
            .tag-icon
            = activity_description(activity_item)
      - else
        %li No recent activity
