- incoming_activities = user.incoming_activities.first(7)
- outgoing_activities = user.outgoing_activities_for_others.first(7)
- activities = (incoming_activities + outgoing_activities).sort{|a, b| b.created_at <=> a.created_at }.first(7)
- preload_associations(activities)

.sidebar-item#latest-activity
  %h2
    == #{link_to(user.short_name, me_user_path(user))}#{apostrophe(user.short_name)} Activity
    /.view-all= link_to "View profile", '#'
  %ul.list-view.unstyled
    - if activities.present?
      - activities.each do |activity_item|
        %li{:class => activity_class(activity_item)}
          .tag-icon
          = activity_description(activity_item)
    - else
      %li No recent activity
