- if user
  %nav#profile-nav
    - if current_user && current_user == user
      .photo
        =link_to image_tag(user.avatar_url(:avatar)), me_user_path(user)

      .my-actions
        ="Welcome #{user.full_name}"
        %br
        = link_to 'Edit profile', edit_user_registration_path, :class => 'xxl'
        &bull;
        = link_to "Logout", destroy_user_session_path, :class => 'xxl'
