- can_delete ||= false
%section#tags
  #add-tag
    - if current_user && current_user != @user
      .inner
        =form_tag user_user_tags_path(@user) do
          %label="Add Tags"
          %input{:type => 'text', :name => 'tags', :placeholder => 'e.g. web design, leadership (comma separated)', :class => 'large', :id => 'tag_names'}
          %button.btn.primary.large ADD TAG
        .vouche Or <strong>vouch for existing tag</strong><br/> by clicking on it
      .arrow
    - else
      .inner
        %h3 &nbsp;
  = image_tag "ajax_loader.gif", :id => 'tag-could-loader', :style => "display:none;"
  %div{:id => 'tag-cloud',
       "data-tag-cloud-path" => user_user_tags_path(@user),
                  :"data-logged-in" => user_signed_in?.to_s,
                  :"data-can-vote" => (!(@user == current_user)).to_s,
                  :"data-can-delete" => can_delete.to_s,
                  :"data-user" => {:full_name => @user.full_name}.to_json}
  #tag-msg
    %span.icon
    = tag_cloud_summary(@user)
