.inner-page

  %h1 About GiveBrand
  
  %h2 What the heck is GiveBrand?

  %p It's harder than ever to stand out from the crowd these days.

  %p You spend hours updating your online profiles, trying to fill them with impressive credentials that will make people want to hire you. But a list of companies you've worked for doesn't really tell your story.

  %p Case in point: Ever been passed over for the perfect job by someone with nothing more than the perfect résumé? You know it should be about more than that.

  %p Time to cut through the B.S. and show off who you really are — your skills and personality — not just your jobs.



  %h2 GiveBrand is powered by people.

  %p Go straight to the people who know you best — your friends and colleagues — and ask them tag you. 

  %p When real people can vouch for your skills, you gain credibility.

  %p With GiveBrand, there are no meaningless scores, no declarations of "influence"…you get a streamlined profile with a cloud full of words and phrases that shape your brand and help tell your story. Share it with recruiters, HR managers, potential clients — anyone you want.

  %p It's never been about us…we're just the vehicle to move you from where you are now to where you want to be.