#content-wrap
  %header#page-header
    %h1 Latest Activity

  #content
    %section.content
      .feed
        %ul.list-view.unstyled
          = render 'activities/activities'

%aside
  = render 'shared/sign'
