- title("Press - Givebrand")

.inner-page

  %h1 Press

  %p== We're working with VineSprout to help us get the word out about GiveBrand. For all press inquiries, please contact Ben Pavlovic (#{mail_to("ben@vinesprout.com", "ben@vinesprout.com", subject: "GiveBrand")} or <strong>312-961-3919</strong>) or Nicole Duhoski (#{mail_to("nicole@vinesprout.com", "nicole@vinesprout.com", subject: "Givebrand")} or <strong>312-622-0045</strong>).

