// Place all the styles related to the activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Import common settings
@import "base";


#activity {  
  padding: 20px 30px 20px 30px;        
}


#page-header {
  @include clearfix;
  
  h1, .tabs {
    float: left;
    margin-bottom: $baseline / 2;
  }
  
  h1 {
    width: 367px;
  }
  
}
