// Place all the styles related to the activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Import common settings

#activity {
  padding: 20px 0;
  #page-header {
    @include clearfix;
    padding: 0 25px;
    .tabs{
      clear: both;
    }
    h1, .tabs {
      color: $linkColor;
      float: left;
      margin-bottom: 4px;
      //margin-bottom: $baseline / 2;
    }

    h1 {
      width: 365px;
    }
  }
}



