/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require tipsy
 *= require_self
 *= require simplemodal
 *
*/

@import "compass/reset";
// Framework imports and common settings

@import "base";
@import "bootstrap";
@import "type";
@import "forms";
@import "noty";
@import "noty_buttons";

/* COMPONENTS
-----------------------------------------------------------------------*/

// Form elements

// Inputs, Textareas, Selects
//input, textarea, select, .uneditable-input {
//  display: inline-block;
//  width: 210px;
//  padding: 8px;
//  color: $gray;
//  border: 1px solid #d7d7d7;
//  @include border-radius(1px);
//}

input, textarea {
  @include box-shadow(inset 0 1px 3px rgba(0, 0, 0, 0.07));
  font-size: 12px;
}

// Button Base

.btn {
  @include border-radius(2px);
  border: 1px solid lighten($black, 59%);
  @include background-image(linear-gradient(lighten($black, 88%), lighten($black, 69%)));
  @include box-shadow(rgba($white, 0.5) 0px 0px 1px 0px inset, rgba($black, 0.38) 0px 1px 3px);
  font-weight: bold;
  @include text-shadow(#fff 0px 1px 0px);
  @include transition(all 0.1s ease);

  &:hover {
    @include background-image(linear-gradient(lighten($black, 93%), lighten($black, 74%)));
    background-position: 0 0;
  }

// Primary Button Type

  &.primary {
    font-size: 14px;
    border: 1px solid $green - #111;
    color: #fff;
    @include background-image(linear-gradient($green + #111, $green - #111));
    filter: none;
    @include text-shadow(rgba(0, 0, 0, 0.2) 0px 1px 0px);

    &:hover {
      @include background-image(linear-gradient($green + #111, $green - #222));
      background-position: 0 0;
    }

  // Active state

    &:active {
      @include background-image(linear-gradient($green - #111, $green - #222));
      @include box-shadow(rgba($black, 0.15) 0px 5px 5px 0px inset, rgba($black, 0.24) 0px 0px 6px inset);
      border: 1px solid #5b7994;
    }

  }


// Button Sizes

  &.large {
    @include border-radius(2px);
    font-size: 14px;
    //margin-top: 5px;
    padding: 11px 30px;
  }

}

.buttons_left {
  margin-top: 5px;
}

.left {
  display: inline;
  float: left;
}
.right {
  display: inline;
  float: right;
}

// Tabs

.tabs {
  border: none;
  @include border-radius(4px);
  @include background-image(linear-gradient(lighten($black, 95%), lighten($black, 93%)));

  > li {
    position: relative;
  // For the dropdowns mostly
   margin-bottom: 0;
    > a {
      color: #666;
      padding: 0 15px;
      margin-right: 0;
      line-height: 28px;
      border: 1px solid #ddd;
      border-right: 0;
      font-size: 11px;
      @include border-radius(2px);
      @include text-shadow(#fff 0px 1px 0px);
      &:hover {
        background-color: #eee;
        border: 1px solid #ddd;
        border-right: none;
        color: #222;
        text-decoration: none;
        @include background-image(linear-gradient(lighten($black, 91%), lighten($black, 93%)));
      }
    }
    &:last-child a {
      border-right: 1px solid #ddd;
    }
  }

  .active > a, .active > a:hover {
    background-color: $white;
    border: 1px solid #444 !important;
    color: #eee;
    cursor: default;
    font-weight: bold;
    @include box-shadow(rgba($black, 0.2) 0 0 2px 0 inset);
    @include background-image(linear-gradient(lighten($black, 45%), lighten($black, 40%)));
    @include text-shadow(#111 0px 1px 0px);
  }
}

// General style for profile photo

.photo a {
  background: #fff;
  float: left;
  @include box-shadow(rgba($black, 0.07) 0px 1px 2px);

  img {
    display: block;
  }

}

// Icons

.icon {
  @include replace-text("icons-sprite.png", 0, 0);
  background-position: -100px 0;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.tag .icon {
  background-position: 0 -32px;
}

// List of items activity feed/search

.feed > p {
  background: image_url('info.png') no-repeat 20px top;
  color: #777;
  line-height: 1.5;
  margin-top: 20px;
  padding: 0 25px 0 63px;
}

.list-view {

  li {
    padding: 16px 20px;
    border-bottom: 1px solid #e9e9e9;
    font-size: 11px;
    @include pie-clearfix;
    &:hover, &:focus {
      background: #f9f9f9;
    }
  }

  .photo {
    position: relative;
    float: left;
    height: 41px;
    margin-right: 10px;
    width: 41px;
    margin-left: -45px;

    a {
      @include box-shadow(0);
    }

    img {
      width: 32px;
      @include box-shadow(rgba(0, 0, 0, 0.2) 0 0 2px inset);

      &.over {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
        @include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 2px);
      }
    }

  }

  .you {

    img {
      width: 32;
      @include box-shadow(rgba(0, 0, 0, 0.2) 0 0 2px inset);

      &.over {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
        @include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 2px);
      }

    }

  }

  .content {
    margin-left: 50px;

    > .icon {
      float: left;
      margin-bottom: 15px;
      margin-right: 10px;
      margin-top: 14px;
    }

  }

  h2 {
    color: $grayDark;
    float: left;
    font-size: 14px;
    line-height: 16px;
  }

  time, .details {
    color: #999;
    font-size: 11px;
    float: right;
    line-height: 1;
  }
  .details {
    display: block;
    float: left;
    margin-top: 5px;
    width: 93%;
  }

}

.vouche, .tag {
  position: relative;
}

.vouche .tag-icon, .tag .tag-icon {
  height: 21px;
  left: -11px;
  position: absolute;
  top: 15px;
  width: 21px;
}

.vouche .tag-icon {
  background: image_url('icon-vouche.png') no-repeat center;
}

.tag .tag-icon {
  background: image_url('icon-tag.png') no-repeat center;
}

.list-view {
  .tag:hover, .tag:focus {
    .tag-icon {
      background: image_url('icon-tag-hover.png') no-repeat center;
      left: -10px;
    }
  }
}
.list-view {
  .vouche:hover, .vouche:focus {
    .tag-icon {
      background: image_url('icon-vouche-hover.png') no-repeat center;
      left: -10px;
    }
  }
}
aside #latest-activity {
  border: none;
  li {
    padding-right: 20px;
  }
}
#latest-activity {
  padding: 20px 0 !important;
  h2 {
    padding: 0 20px;
  }
  li {
    border-bottom: none;
    border-top: 1px solid #ddd;
    margin-bottom: 0 !important;
    padding: 5px 10px 7px 20px;
    .tag-icon {
      left: auto;
      right: -11px;
      top: 5px;
    }
  }
}

.textbox {
  padding: 10px 20px 20px;
  h3 {
    font-family: "gnuolane";
    font-weight: normal;
  }
  p {
    color: #777;
    font-size: 11px;
    line-height: 1.4;
  }
}

/* BASIC PAGE SETTINGS
-----------------------------------------------------------------------*/
html, body {
  background: image-url("bg2.png");
  //border-top: 2px solid #222;
  margin: 0;
}

body {
  font-family: Arial, helvetica, sans-serif;
}

/* GRIDS
-----------------------------------------------------------------------*/
#page {
  @include grid-container;
}

#global-header {
  @include grid(12);
}

#global-nav {
  @include grid(9);
  @include alpha;
}

#content {
  @include grid(9);
  @include alpha;
  @include omega;
}

#global-search, aside {
  @include grid(3);
  @include alpha;
  @include omega;
}

aside {
  width: 239px;
}

footer, #main {
  @include grid(12);
}

footer {
  @include grid(9);
  @include grid-suffix(3);
}

#profile,
#activity,
#search,
#invite,
#invite form,
#profile-nav,
#latest-activity,
#invite-side,
#import {
  @include pie-clearfix;
}

#profile {
  padding: 28px 30px 25px 30px;
}

#activity,
#search {
  padding: 20px 0;
  #page-header {
    padding: 0 25px;
  }
}

#invite {

  #page-header {
    padding: 20px 30px 14px 30px;
  }

  form, #twitter-friends {
    padding: 20px 30px 30px 30px;
  }
}

#profile-nav, #latest-activity, #invite-side, #import {
  border-bottom: 2px solid #e9e9e9;
  padding: 20px;
}

#profile-nav .xxl {
  font-size: 12px;
}

#invite-side, #import, #latest-activity {
  border-top: 2px solid rgba($black, 0.04);
}

/* STYLE
-----------------------------------------------------------------------*/

// Header

.right {
  display: inline;
  float: right;
}

#global-header {

  //@include background-image(linear-gradient(lighten($black, 99%), lighten($black, 96%)));
  //border-bottom: 1px solid $borderColor;
  //border-left: 1px solid $borderColor;
  //border-right: 1px solid $borderColor;
  //@include border-bottom-radius(3px);
  margin-bottom: 0px;
  position: relative;
  label {
    display: none;
  }
}

// Global navigation

#global-nav {

  //border-right: 1px solid $borderColor;
  margin: 0;

  li {
    display: block;
    float: left;
    list-style: none;

    &.active a {
      @include background-image(linear-gradient(lighten($black, 95%), lighten($black, 92%)));
      @include box-shadow(inset 0px 0px 5px 1px rgba(0, 0, 0, 0.1));
      border-left: 0 none;
    }
  }
  span{
    color: $gray;
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding: 35px 18px 27px 18px;
    //border-left: 1px solid $white;
    //border-right: 1px solid $borderColor;
    @include text-shadow($white 0px 1px 0px);
  }
  a{
    color: #666;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 35px 18px 27px 18px;
    //border-left: 1px solid $white;
    //border-right: 1px solid $borderColor;
    @include text-shadow($white 0px 1px 0px);

    &:hover, &.active {
      color: #137ac2;
      text-decoration: none;
      background: rgba(0, 0, 0, 0.03);
    }
  }

// Logo style

  #gn-logo a {
    background: image-url('logo2.png') no-repeat center;
    color: $blue;
    font: bold 32px "gnuolane";
    height: 63px;
    margin: 20px 0 5px;
    opacity: 0.9;
    padding: 0;
    text-indent: -99999px;
    width: 150px;
    @include transition(opacity .4s);
    //@include transform(skew(0deg, -6deg));
    span {
      color: #444;
      display: inline;
      float: left;
      font-size: 32px;
      font-weight: normal;
      padding: 0;
    }
    &:hover {
      opacity: 1;
    }
  }
  #gn-login, #gn-register, #gn-activity, #gn-profile, #gn-logout {
    float: right;
  }
}

#home_index {
  #gn-logo a {
    margin-top: 30px;
  }
}

// Global search in header

#global-search {
  display: inline-block;
  margin-top: 27px;
  padding-left: 10px;

  form {
    margin: 0 0 0 10px;
    background: #fff;
    border: 4px solid #eee;
    @include box-shadow(rgba($black, 0.2) 0px 1px 3px inset);
    @include border-radius(1px);
    width: 215px;
    @include clearfix;
    &:active, &:focus {
      border-color: $blue;
    }
  }

  input {
    @include box-shadow(none);
    @include text-shadow(#fff 0 1px 0);
    background: none;
    color: #888;
    width: 165px;
    border: 0 none;
    float: left;
    font-size: 12px;
    padding: 3px 11px 2px 11px;
  }

  button {
    background-color: transparent;
    border: 0 none;
    border-left: 1px solid #d9d9d9;
    float: left;
    @include replace-text("icon-search.png");
    height: 30px;
    width: 25px;
  }
}

// Main section

#main {
  //background: #fff;
  //border: 1px solid $borderColor;
  //background: rgba(255, 255, 255, 0.7);
  //@include box-shadow(0 1px 2px rgba(0, 0, 0, 0.08));
  //@include border-radius(3px);
}

#content, .inner-page {
  background: #fff;
  @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.08));
  @include border-radius(3px);
  border-right: 1px solid #eee;
  min-height: 200px;
}

.inner-page {
  padding: 30px 40px;
  h1 {
    margin-bottom: 15px;
  }
  h2 {
    color: $blue;
    font-size: 14px;
    text-transform: uppercase;
  }
  p {
    padding-left: 10px;
  }
  ol {
    margin-left: 40px;
  }
}

#featured {
  margin-top: 25px;
  text-align: center;
  h1 {
    font-size: 58px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  h2 {
    color: #777;
    font-family: gnuolane;
    font-size: 24px;
    line-height: 1.5;
  }
  h3 {
    color: $blue;
    font: 18px "gnuolane";
    line-height: 1.5;
    margin-bottom: 4px;
  }
  .big-signup {
    background: $blue;
    color: #fff;
    display: inline-block;
    float: left;
    font: 20px "gnuolane", georgia, sans-serif;
    margin: 15px 0 20px;
    opacity: 0.9;
    padding: 12px 5%;
    text-align: center;
    width: 25%;
    @include border-radius(3px);
    @include box-shadow(rgba(0, 0, 0, 0.1) 0 2px 3px inset, rgba(0, 0, 0, 0.2) 0 1px 3px);
    @include transition(all .4s);
    &:hover, &:focus {
      background: $green;
      opacity: 1;
      text-decoration: none;
    }
  }
  ul.slim {
    border-top: 1px solid #fff;
    padding-top: 30px;
    @include pie-clearfix;
    @include radial-gradient(color-stops(rgba(0, 0, 0, 0.015), rgba(0, 0, 0, 0)), top center);
  }
  li {
    display: inline;
    float: left;
    margin: 0 2%;
    width: 21%;
    p {
      font: 12px museo;
      line-height: 1.5;
    }
  }
  .cloud {
    background: image_url('cloud-top.png') repeat-x bottom center;
    height: 50px;
    //margin: 0 auto;
    width: 700px;
  }
}

#page-header {
  border-bottom: 1px solid #eee;

  h1 {
    line-height: 1.8;
  }
}

.benefits ul {
  padding: 25px 0 20px 25px;
  li {
    margin-bottom: 30px;
  }
  h2 {
    font: normal 24px "gnuolane", serif;
    @include text-shadow(#fff 0 1px 0);
  }
  p {
    color: #666;
    font-size: 12px;
    line-height: 1.5;
    @include text-shadow(#fff 0 1px 0);
  }
}

#twitter {
  opacity: 0.8;
  position: absolute;
  right: -50px;
  top: 40px;
  &:hover, &:focus {
    opacity: 1;
    right: -55px;
    @include transition(all .5s);
  }
}

// Sidebar

aside {
  //background: darken($white, 2%);

  #profile-nav {

    .photo a {
      padding: 4px;

      img {
        width: 60px;
      }

    }

    .my-actions {
      margin-top: 10px;
      margin-left: 80px;
      width: 140px;
    }
    h3 {
      font-family: "gnuolane";
      font-size: 20px;
      font-weight: bold;
      line-height: 1.6;
    }
  }

  h2 {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
  }

}

#latest-activity li {
  line-height: 18px;
  margin-bottom: 8px;
}

#invite-side, #import {

  li {
    line-height: 16px;
    margin-bottom: 20px;
  }

  .icon {
    height: 16px;
    width: 16px;
    margin-right: 5px;
  }

  a {
    color: $grayDark;
  }

  .facebook .icon {
    background-position: 0 -144px;
  }
  .twitter .icon {
    background-position: 0 -160px;
    height: 14px;
  }
  .email .icon {
    background-position: 0 -176px;
    height: 12px;
  }

}

#import .icon {
  background-position: 0 -192px;
  float: left;
  margin: 10px 8px 10px 0;
}

// Footer

footer {
  border-top: 0 none;
  color: #ababab;
  font-size: 11px;
  margin-top: 0;
  padding-bottom: 20px;
  padding-top: 15px;
  text-align: center;

  a {
    color: #ababab;
    text-decoration: underline;
  }

}
.hidden {
  display: none;
}



@import "profile";
@import "activity";
@import "devise";
@import "tag_cloud";
@import "tipsy_custom";
@import "pagination";
@import "rhinoslider";
@import "rhino_override";
@import "tokeninput_facebook";
@import "override";