.devise {
  padding: 20px 0 0;
  #page-header {
    padding: 0 25px;
    margin-bottom: 10px;
    h1 {
      font-size: 30px;
      font-weight: bold;
      line-height: 1.2;
      margin-bottom: 10px;
    }
  }
  .details {
    margin-left: 170px;
  }
  .photo {
    position: absolute;
    margin-left: -170px;
  }
}
.devise_links{
  padding: 20px;
}


#login_dialog {
  section {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 230px;
    label {
      text-align: left;
    }

    .checkboxes {
      margin-left: 0px;
    }
    .buttons_left {
      margin-left: 10px;
      //padding-top: 5px;
    }
  }
  section.sign_in {
    margin-right: 60px;
  }
  .inputs-list {
    padding: 0 5px;
    input[type="checkbox"] {
      margin: 0 5px 0 0;
    }
  }
  .note {
    clear: both;
    color: #404040;
    margin: 0;
  }
}
