.devise {
  padding: 20px 0 0;
  #page-header {
    padding: 0 25px;
    margin-bottom: 10px;
    h1 {
      margin-bottom: 10px;
    }
  }
  .details {
    margin-left: 170px;
  }
  .photo {
    position: absolute;
    margin-left: -170px;
  }
}
.devise_links{
  padding: 20px;
}


#login_dialog {
  section {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 230px;
    label {
      text-align: left;
    }

    .checkboxes {
      margin-left: 0px;
    }
    .buttons_left {
      margin-left: 10px;
      //padding-top: 5px;
    }
  }
}
