// Place all the styles related to the invite controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Import common settings
@import "base";

#invite { border-top: 0; }

#page-header {
  @include clearfix;
}


.services li {
  float: left;
  margin-right: 27px;
  margin-bottom: 10px;
  
  a {
    @include border-radius(4px);
    color: $white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 35px;
    @include text-shadow($gray 0px -1px 0px);
    width: 188px;
    
    
    &:hover {
      text-decoration: none;
    }
    
    span {
      @include replace-text("services-sprite.png", 0, 0);
      display: inline-block;
      float: left;
      height: 37px;
      margin-right: 10px;
      margin-top: -1px;
      width: 38px;
           
    }
        
  }
  
  &.facebook a {    
    border: 1px solid #173b83;
    @include background-image(linear-gradient(#5477c2, #345298));
    @include box-shadow(#93b5ff 0px 1px 0px 0px inset, rgba($black, 0.40) 0px 2px 2px );
    
    &:hover {
       @include background-image(linear-gradient(#85a3e2, #5271b9));      
    }
    
               
  }
  
  &.twitter a {    
    border: 1px solid #006c73;
    @include background-image(linear-gradient(#5de2e0, #21a3ab));
    @include box-shadow(#befbff 0px 1px 0px 0px inset, rgba($black, 0.40) 0px 2px 2px );    
    
    span { background-position: 0 -37px; }
    
    &:hover {
      
    }
    
    &:hover {
       @include background-image(linear-gradient(#8cf1f0, #3cc0c8));      
    }
    
  }
  
  
  &.email {
    
    margin-right: 0;
    
    a {    
      border: 1px solid #545454;
      @include background-image(linear-gradient(#c9c9c9, #919191));
      @include box-shadow(#e2e2e2 0px 1px 0px 0px inset, rgba($black, 0.40) 0px 2px 2px );
      
      span { background-position: 0 -74px; }
    
    &:hover {
       @include background-image(linear-gradient(#e6e6e6, #b3b3b3));      
    }
    
    }
  }
  
  
}

form {
  
  li {
    float: left;
    margin-bottom: 13px;
  }
  
  label {
    color: $grayDark;
    display: block;
    float: none;
    font-size: 14px;    
    text-align: left;
    width: auto;
    margin-bottom: 8px;
  }
  
  input {
    width: 295px;
  }
  
  #f-name {
    margin-right: 13px
  }
  
  #f-tag {
    width: 622px;
  }
  
  .btn.primary.large {
    padding: 11px 28px;
  }
  
}


#twitter-friends {
  h2 {
    border-bottom: 1px solid $borderColor;
    font-size: 18px;
    line-height: $baseline;
    padding-bottom: $baseline;    
  }
  
  .list-view {
    
    .content {
      margin-left: 76px;
    }
    
    .photo {
      height: 61px;
      margin-left: -76px;
      width: 61px
    }
    
    img {
      width: 61px;
    }
    
    .details {
      float: left;
      font-size: 14px;
      width: 500px;
      
    }
    
    .action {
      float: left;      
      margin-left: 10px;
      width: 40px;
      
      &.invited {
        color: #165288;
        font-size: 12px;
        line-height: 14px;
        text-align: center;      
        .icon {
          background-position: 0 -208px;
        }
      }
      
      .btn {
        font-size: 24px;
        line-height: 40px;
        padding: 0 14px;
      }
    }
    
    form {
      clear: both;
      margin-left: -76px;
      margin-bottom: 0;
      padding: 10px 0 0 0;
      
      input {
        margin-right: 15px;
        width: 440px;
        
        &::-webkit-input-placeholder {
          font-style: italic;
        }
  
        &:-moz-placeholder {
          font-style: italic;
        }
                
      }
      
      .btn {        
        margin-right: 15px;        
      }
      
      a.cancel {
        color: #e10000;
      }
      
    }
    
  }
  
  h3 {
    font-size: 14px;
    line-height: $baseline;
    
    small {
      color: $grayDark;
      font-weight: normal;
    }
    
  }
}
