// General style for profile photo
.photo a {
  float: left; 
  @include box-shadow(rgba($black, 0.2) 0px 2px 4px);
  
  img {
    display: block;
  }
  
}

// Icons
.icon {
  @include replace-text("icons-sprite.png", 0, 0);
  display: inline-block;
  height: 12px;
  width: 12px;        
}


.tag .icon {
   background-position: 0 -32px;            
}
  
.vouche .icon {
   background-position: 0 0;            
}


// Form elements

// Inputs, Textareas, Selects
input, textarea, select, .uneditable-input {
  display: inline-block;
  width: 210px;
  padding: 8px;  
  color: $gray;
  border: 1px solid #d7d7d7;
  @include border-radius(1px);
} 

input, textarea {
  @include box-shadow(inset 0 5px 5px rgba(0,0,0,.1));
  font-size: 12px; 
}


// Primary button

.btn.primary {
  border: 1px solid #8bc7fd;  
  color: #165288;  
  @include background-image(linear-gradient(#c1e2ff, #95ccff));
  @include box-shadow(rgba($white, 0.85) 0px 0px 1px 0px inset, rgba($black, 0.38) 0px 2px 5px );
  font-weight: bold;
  @include text-shadow(#fff 0px 1px 0px);
  @include transition(all 0.1s ease);
  
  &:hover {
    @include background-image(linear-gradient(#d3ebff, #b5dbff));
    background-position: 0 0;
  }
  
  &.large {
    @include border-radius(1px);
  } 
}

// Tabs


.tabs {
  border-color: lighten($black, 76%);
  border-style: solid;
  border-width: 1px;
  @include border-radius(4px);
  @include background-image(linear-gradient(lighten($black, 93%), lighten($black, 82%)));
  
  > li {
    position: relative; // For the dropdowns mostly
    margin-bottom: 0;
    > a {
      color: $grayDark;
      padding: 0 15px;
      margin-right: 0;
      line-height: 28px;
      border-bottom: 0 none;
      border-left: 1px solid lighten($black, 96%);
      border-right: 1px solid $borderColor;
      border-top: 0 none;      
      @include border-radius(0);
      @include text-shadow(#fff 0px 1px 0px);
      &:hover {
        text-decoration: none;
        background-color: #eee;
        border-color: #eee #eee #ddd;
      }
    }
  }   
  
  .active > a {
    @include box-shadow(rgba($black, 0.26) 0px 3px 5px 0px inset);
    @include background-image( linear-gradient(lighten($black, 82%),lighten($black, 93%)));
  }
  
  .active + li a {
    border-left: 0 none;
  }
  
  .active > a, .active > a:hover {
    color: $gray;
    background-color: $white;
    border: 0px none;
    border-bottom-color: transparent;
    cursor: default;
  }    
}  





// Pagination
.pagination {

  ul {
    margin: 0 auto;
    border: 0 none;
  }
  
  a {
    border: 0 none;
    color: $grayDark;
    line-height: 18px;
    padding: 0 4px;
  }
  
  .active a {
    background: $grayLight;
    @include border-radius(2px);
  }
  
}

// List of items activity feed/search
.list-view {
  
  li {
    padding: 16px 0;
    border-bottom: 1px solid $borderColor;
    @include clearfix;
  }
  
  .photo {
    
    position: relative;
    float: left;
    height: 41px;
    width: 41px;
    margin-left: -50px;
    
    a {
      @include box-shadow(0);
    }    
    
    img {
      width: 41px;      
    }             
    
  }
  
  .you {
    
    img {
      width: 28px;
      
      &.over {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 24px;
      } 
            
    }  
    
  }
  
  .content {
    margin-left: 50px;
    
    > .icon {
      float: left;
      margin-bottom: 15px;
      margin-right: 10px;
      margin-top: 14px;       
    }
    
  }
  
    
  
  h2 {
    color: $grayDark;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
  }
  
  time, .details {
    font-size: 12px;
  }
  
}

// jqcloud

@mixin jqcloud {
    
  overflow: hidden;
  position: relative;
  a {
    color: inherit;
    font-size: inherit;
    text-decoration: none;
    &:hover {
      color: #0df;
      color: #0cf; } }
  span {
    padding: 0;
    &.w10 {
      font-size: 48px;
      color: #1b1c1d; }
    &.w9 {
      font-size: 48px;
      color: #1b1c1d; }
    &.w8 {
      font-size: 30px;
      color: #515557; }
    &.w7 {
      font-size: 30px;
      color: #515557; }
    &.w6 {
      font-size: 24px;
      color: #73787a; }
    &.w5 {
      font-size: 24px;
      color: #73787a; }
    &.w4 {
      font-size: 18px;
      color: #9a9fa2 }
    &.w3 {
      font-size: 18px;
      color: #9a9fa2; }
    &.w2 {
      font-size: 14px;
      color: #b8bcbf; }
    &.w1 {
      font-size: 14px;
      color: #b8bcbf; } } }
      
//Tipsy

.tipsy {
  font-size: 12px;
  line-height: 14px;
  
  .tipsy-inner {
    padding: 8px 12px;
  }
  
  strong {
    color: $linkColor;
  }
}
