#twitter_contacts, #invitation_content {
  .horizontal {
    //margin: 20px 25px 0 0;
    margin: 0;
  }
  .search_twitter_contacts {
    background: #f6f6f6;
    margin: 0;
    padding: 15px 25px 3px;
    @include pie-clearfix;
    input[type=text] {
      background: #fff;
      float: left;
    }
    p {
      position: relative;
      @include pie-clearfix;
    }
    input[type=submit] {
      -moz-border-bottom-colors: none;
      -moz-border-image: none;
      -moz-border-left-colors: none;
      -moz-border-right-colors: none;
      -moz-border-top-colors: none;
      background: url("/assets/icon-search.png") no-repeat center transparent;
      border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #ddd;
      border-style: none none none solid;
      border-width: 0 0 0 1px;
      float: right;
      height: 34px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 0;
      text-indent: 110%;
      white-space: nowrap;
      width: 25px;
    }
  }
  #page-header {
    overflow: hidden;
    padding: 20px 25px 0;
    h1 {
      color: #137AC2;
      float: left;
      margin-bottom: 4px;
    }
  }
}

#invitation_contacts {
  ul {
    list-style: none;
    margin: 0;
  }
  li {
    border-bottom: 1px solid #eee;
    font: bold 12px open-sans, sans-serif;
    padding: 10px 25px;
    span {
      float: right;
      font-weight: normal;
    }
  }
}

.twitter-contacts-list {
  @include pie-clearfix;
  ul {
    list-style: none;
    margin: 0
  }
  li {
    border-bottom: 1px solid #eee;
    padding: 5px 25px;
    @include pie-clearfix;
    img {
      padding-right: 10px;
    }
    .name, .user {
      position: relative;
      top: 5px;
    }
    .name {
      color: #444;
      font: bold 20px gnuolane, sans-serif;
      padding-right: 8px;
    }
    .user {
      font-size: 12px;
    }
    &:hover, &:focus {
      .twitter_contact {
        display: block !important;
      }
    }
  }
  .pagination {
    padding: 20px 25px;
  }
}

#twitter_invite_wrap {
  padding: 0 25px;
  h1 {
    margin-bottom: 0;
  }
}

.twitter_contact {
  display: none !important;
  margin-top: 10px;
}

#loading {
  background: rgba(0, 0, 0, 0.1) url(image_path('ajax_loader.gif')) no-repeat center;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  text-align: center;
  text-indent: -9999em;
  top: 0;
  width: 100%;
  z-index: 10000;
}
