ul.noty_container {
  opacity: 0.9;
  width: 200px;
  &.topLeft li, &.topRight li {
    width: 200px; }
}
.noty_bar {
  background: none;
  
}
.noty_bar .noty_message {
  padding: 5px 0px;
}

.noty_bar.success {
  background: #fff;
  border: 1px solid $green;
  color: $green - #111;
  width: 200px;
  @include border-radius(1px);
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 2px);
}
.noty_bar.error {
  background: #fff;
  border: 1px solid $red;
  color: $red;
  width: 200px;
  @include border-radius(1px);
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 2px);
}
.noty_bar.alert {
  background: #fff;
  border: 1px solid $blue;
  color: $blue;
  width: 200px;
  @include border-radius(1px);
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 2px);
}

.noty_text {
  margin: 0 20px 0 15px;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.4;
}

li.token-input-token-facebook {
  background: $blue;
  border: 1px solid $blue;
  color: #fff;
  font-size: 12px;
  padding-left: 10px;
  @include border-radius(2px);
}

.token-input-dropdown-facebook {
  z-index: 99999;
  width: 373px !important;
  p {
    font-size: 11px;
    font-weight: normal;
    padding: 3px 5px;
  }
}
#simplemodal-container .simplemodal-data {
  
  .note {
    background: $blue;
    color: #fff;
    margin-bottom: 20px;
    padding: 10px 5px;
    text-align: center;
  }
  #page-header {
    padding-left: 5px;
  }
  .buttons_left {
    margin: 0;
  }
}

///////////

#steps {
  margin: 0;
  h1 {
    background: $blue;
    color: #fff;
    font-size: 18px;
    line-height: 2;
    padding: 0 2% 0 25%;
    text-align: right;
    @include box-shadow(rgba(0, 0, 0, 0.1) 0 -3px 3px);
  }
}
.ui-tooltip, .qtip {
  border: none;
}
.ui-tooltip-light .ui-tooltip-titlebar {
  background: #eee;
  padding-bottom: 10px;
}
.ui-tooltip-titlebar {
  font: 16px "futura-pt", sans-serif;
  line-height: 1;
  padding: 15px 15px 0;
  position: relative;
  z-index: 1;
  //@include box-shadow(rgba(0, 0, 0, 0.1) 0 -3px 3px inset);
}
.ui-tooltip-content {
  padding: 0;
  position: relative;
  overflow: visible;
  z-index: 2;
}
.ui-tooltip-icon .ui-icon {
  width: auto;
}
.ui-tooltip-titlebar .ui-state-default {
  background: none;
  border: none;
  color: $red;
  font: 16px "futura-pt", sans-serif;
  margin-top: 0;
  opacity: .7;
  right: 10px;
  text-decoration: underline;
  top: 12px;
  &:hover, &:focus {
    opacity: 1;
  }
  span {
    font: 14px "futura-pt", sans-serif;
    text-decoration: underline;
  }
}

#bubbles {
  height: 55px;
  left: 3%;
  padding: 0;
  position: absolute;
  top: 4px;
  width: 30%;
  @include pie-clearfix;
  .bubble {
    border: none;
    height: auto;
    margin-right: -5%;
    padding: 0;
    position: relative;
    z-index: 10;
    width: 21%;
    &.active {
      background: $blue + #111;
      z-index: 11;
      @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px);
    }
    .bubble-title {
      border: none;
      //border-top: 1px solid rgba(0, 0, 0, 0.1);
      //border-right: 1px solid rgba(0, 0, 0, 0.1);
      font: 12px/1 "futura-pt", sans-serif;
      height: 12px;
      margin: 0;
      padding: 8px 0;
      text-align: center;
      width: auto;
    }
  }
}