// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Import common settings

#profile {
  border-bottom: 1px solid #e9e9e9;
  
  p, a, span, li {
    font-family: "open-sans", arial, sans-serif;
  }
  .photo {
    float: left;
    //margin-left: -170px;
    margin-right: 20px;

    img {
      display: block;
      padding: 8px;
      background: #fff;
      float: left;
      @include box-shadow(rgba($black, 0.07) 0px 1px 2px);
    }

  }
  .details, .actions { float: left;  }

  .details {
    //margin-left: 170px;
    width: 100%;
    position: relative;
  }

  #user_edit_avatar_loading{
    position: absolute;
    top: 55px;
    left: -95px;
    background: transparent;
    img{
      background: transparent;
    }
  }

  .actions {
    background: none;
    border-top: 0 none;
    margin: 0;
    padding: 0;
    width: 105px;
  }
  a.no_underline{
    text-decoration: none;
  }
  h1 {
    color: $blue;
    font-size: 30px;
    line-height: 1.4;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  h2 {
    color: #888;
    font: normal 13px/1.5 "open-sans", arial, sans-serif;
    margin-top: 5px;
    margin-bottom: $baseline;
    margin-right: 30px;
    overflow: hidden;
    word-wrap: break-word;
  }
  .left {
    width: 70%;
  }
  ul {
    list-style: none;
    margin: 20px 0 0;
    width: 30%;
    .error{
      border: 1px solid $red + #999;
      border-top: none;
      color: $red;
    }
    .actions{
      float: right;
      text-align: right;
    }
    .location, .twitter, .web {
      font-size: 12px;
      span {
        margin-right: 2px;
        margin-bottom: -2px;
      }
    }
    .location .icon {
      background-position: 0 -64px;
    }

    .web .icon {
      background-position: 0 -80px;
    }
    .twitter {
      margin-top: 3px;
    }
    .twitter .icon {
      background-position: 0 -96px;
    }

    a {
      color: $gray;
    }
  }

  .inputs-list {
    margin-top: 5px;
    padding-left: 0;
    .hint{
      margin-left: 0px;
    }
    .short_bio{
      width: 310px;
      height: 70px;
    }
  }

  &.edit {

    .details {
      margin-left: 157px;
      width: auto;
    }

    .photo {
      margin-left: -156px;
    }


    li {
      clear: both;
    }

    label {
      width: 111px;
      margin-right: 12px;
    }

    input {
      color: $grayDark;
      font-family: "open-sans", arial, sans-serif;
      //padding: 6px 8px;
      width: 300px;
    }
    input[type=submit] {
      color: #fff;
    }

    .name, .title {
      input {width: 342px;}
    }

    .twitter input {
      margin-right: 22px;
    }

    .btn.primary.large {
      padding: 8px 30px;
      width: auto;
    }
  }
}


// Tags section

#add-tag {

  .inner {
    @include background-image(linear-gradient(rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.05)));
    @include clearfix;
    @include box-shadow(rgba(0, 0, 0, 0.03) 0 3px 3px inset);
    border-bottom: 1px solid $borderColor;
  }

  form {
    margin: 0;
    margin: 0 auto;
    padding: 20px 20px 0;
    position: relative;
    text-align: center;
    width: 70%;
  }

  label {
    font-size: 14px;
    margin-right: 15px;
    padding-top: 11px;
    width: 83px;
  }

  input {
    background: transparent;
    &::-webkit-input-placeholder {
      font-style: italic;
    }

    &:-moz-placeholder {
      font-style: italic;
    }
  }

  button {
    font: bold 18px "gnuolane", sans-serif;
    height: 42px;
    padding: 9px 30px 8px;
    position: absolute;
    right: 12px;
    top: 23px;
  }

  .vouche {
    font-size: 12px;
    line-height: 1.4;
    padding: 0 15px 10px 15px;
    text-align: center;
  }

  .arrow {
    background: image-url('arrow-tag.png') center bottom no-repeat;
    clear: both;
    height: 14px;
    margin: -1px auto 0 auto;
    width: 22px;
  }
  p {
    font-size: 14px;
  }
}

ul.social_fixed {
  background: rgba(0, 0, 0, 0.05);
  display: block;
  opacity: 0.5;
  position: fixed;
  top: 115px;
  margin: 0 0 0 -70px;
  padding: 10px 5px 0px 6px;
  text-align: center;
  @include box-shadow(rgba(0, 0, 0, 0.2) 0 0 3px inset);
  @include transition(all 0.4s);
  &:hover, &:focus {
    opacity: 1;
  }

  li {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
  }
}

#no_tags {
  padding-bottom: 30px;
  label {
    display: block;
    float: none;
    font: 20px/1 "gnuolane", sans-serif;
    margin: 15px auto 0;
    text-align: center;
    width: auto;
  }

  #url {
    display: block;
    height: 24px;
    margin: 10px auto;
    width: 400px;
  }
}

.cannot_tag {
  height: 50px;

  .sharethis {
    margin: 10px auto 30px;
    text-align: center;
    width: 305px;
  }
}
.sharethis {
  margin: 5px auto 0px auto;
  text-align: center;
  width: 305px;
  height: 15px;
}


#friend-nav {
  ul {
    list-style: none;
    margin-bottom: 10px;
    margin-left: 20px;
    @include pie-clearfix;
  }
  li {
    //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: inline;
    float: left;
    text-align: center;
    width: 33%;
  }
  a {
    display: block;
    font: 12px/1 open-sans, Arial, sans-serif;
    padding: 10px 0;
    span {
      display: block;
      font: bold 24px/1.5 "gnuolane", sans-serif;
    }
    &:hover, &:focus {
      background: rgba(255, 255, 255, 0.4);
      text-decoration: none;
    }
  }
}

#popular-tags {
  padding-top: 20px;
  h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-family: "gnuolane", impact, sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 10px;
    padding: 0 0 0 25px;
    position: relative;
  }
  ul {
    margin-bottom: 15px;
    margin-left: 20px;
  }
  ul a {
    background: #fff;
    display: block;
    font: 11px/2 open-sans, Arial, sans-serif;
    margin-bottom: 5px;
    padding: 1px 10px;
    position: relative;
    @include border-radius(5px);
    &:hover, &:focus {
      text-decoration: none;
      @include box-shadow(rgba(0, 0, 0, 0.15) 0 0 3px);
      span {
        display: block;
        @include transition(all .4s);
      }
    }
    span {
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      display: none;
      font-size: 15px;
      font-weight: bold;
      height: 16px;
      left: -7px;
      line-height: 16px;
      padding: 0;
      position: absolute;
      text-align: center;
      top: -7px;
      width: 16px;
      z-index: 10;
      @include border-radius(50%);
      &:hover, &:focus {
        background: rgba(0, 0, 0, 0.8);
      }
    }
  }
}