// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Import common settings

#profile {
  border-bottom: 1px solid $borderColor;

  .photo {

    float: left;
    margin-left: -170px;

    a { padding: 8px; }
  }


  .details, .actions { float: left;  }

  .details {
    margin-left: 170px;
    width: 365px;
  }

  .actions {
    background: none;
    border-top: 0 none;
    margin: 0;
    padding: 0;
    width: 105px;
  }

  h1 {
    margin-bottom: 7px;
  }

  h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: $baseline / 2;
    margin-bottom: $baseline;
  }

  ul {
    list-style: none;
    margin: 0;
    .error{
      margin-left: 120px;
      color: red;
    }
    .actions{
      float: right;
      text-align: right;
    }
    .location .icon {
      background-position: 0 -64px;
    }

    .web .icon {
      background-position: 0 -80px;
    }

    .twitter .icon {
      background-position: 0 -96px;
    }

    a {
      color: $gray;
    }

  }

  &.edit {

    .details {
      margin-left: 157px;
      width: auto;
    }

    .photo {
      margin-left: -156px;
    }


    li {
      margin-bottom: 4px;
      clear: both;
    }

    label {
      width: 111px;
      margin-right: 12px;
      padding-top: 8px;
    }

    input {
      color: $grayDark;
      font-size: 14px;
      padding: 6px 8px;
      width: 216px;
    }

    .name, .title {
      input {width: 342px;}
    }

    .twitter input {
      margin-right: 22px;
    }

    .btn.primary.large {
      padding: 8px 30px;
      width: auto;
    }


  }


}


// Tags section

#add-tag {

  .inner {
    @include background-image(linear-gradient($white, lighten($black, 94%)));
    @include clearfix;
    border-bottom: 1px solid $borderColor;
  }

  form {
    margin: 0;
    float: left;
    border-right: 1px solid $white;
    padding: 18px 17px 16px 0;
  }

  label {
    font-size: 14px;
    margin-right: 15px;
    padding-top: 11px;
    width: 83px;
  }

  input {
    margin-right: 3px;
    width: 267px;

    &::-webkit-input-placeholder {
      font-style: italic;
    }

    &:-moz-placeholder {
      font-style: italic;
    }

  }

  .vouche {
    float: left;
    border-left: 1px solid $borderColor;
    line-height: 17px;
    padding: 22px 15px;
    text-align: center;
    width: 163px;
  }

  .arrow {
    background: image-url('arrow-tag.png');
    clear: both;
    height: 19px;
    margin: -1px auto 0 auto;
    width: 22px;
  }

}

ul.social_fixed {
  display: block;
  position: fixed;
  top: 70px;
  margin: 0 0 0 -70px;
  padding: 0;

  li {
    list-style: none;
    padding: 0;
    margin-bottom: 5px;
  }
}
