
// jqcloud
#tag-cloud {

  height: 310px;
  line-height: normal;
  overflow: hidden;
  position: relative;
  width: 700px;

  a {
    color: inherit;
    display: inline-block;
    font-size: inherit;
    text-decoration: none;

    &:hover {
      color: #0df;
      color: #0cf; } }

  > span {

    cursor: pointer;
    display: inline-block;
    padding: 0 20px 0 0;

    &.w5 {
      font-size: 42px;
      color: #1b1c1d; }
    &.w4 {
      font-size: 32px;
      color: #515557; }
    &.w3 {
      font-size: 24px;
      color: #73787a; }
    &.w2 {
      font-size: 18px;
      color: #9a9fa2; }
    &.w1 {
      font-size: 14px;
      color: #b8bcbf; }
  }

  .icon {
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
  }

  .vouche {
    &:hover .icon {
      background-position: 0 -16px;
    }
  }

  .unvouche {
    &:hover .icon {
      background-position: 0 0;
    }
  }

  .tag .icon { background-position: 0 -48px; }

  .remove .icon { background-position: 0 -128px; }
}

#tag-msg {
  border-top: 1px solid $borderColor;
  padding: 18px;
  text-align: center;

  .icon {
    background-position: 0 -112px;
    height: 12px;
    width: 16px;
    margin-left: 10px;
  }

}
.cannot_tag {
  height: 20px;
}
