
// jqcloud
#tag-cloud {
  min-height: 250px;
  line-height: normal;
  overflow: hidden;
  position: relative;
  width: 680px;

  a {
    color: inherit;
    display: inline-block;
    font-size: inherit;
    text-decoration: none;

    &:hover {
      color: #0df;
      color: #0cf; } }

  > span {
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-family: open-sans, sans-serif;
    padding: 5px 10px;
    
    //text-transform: uppercase;

    &.w5 {
      font: 60px gnuolane, impact, sans-serif;
      color: #222;
    }
    &.w4 {
      font: 48px gnuolane, impact, sans-serif;
      color: #555;
    }
    &.w3 {
      font: 36px futura-pt, sans-serif;
      color: $blue - #111;
    }
    &.w2 {
      font-size: 24px museo, sans-serif;
      color: $blue + #191919;
    }
    &.w1 {
      font: 18px open-sans, sans-serif;
      color: $blue + #444;
    }
  }

  .icon {
    display: inline-block;
    margin-left: 8px;
  }

  .vouche {
    &:hover .icon {
      background-position: 0 -16px;
    }
  }

  .unvouche {
    &:hover .icon {
      background-position: 0 0;
    }
  }

  .tag .icon { background-position: 0 -48px; }

  .remove .icon { background-position: 0 -128px; }

  .word {
    //font-family: 'franklin-gothic-urw-cond';
    &:hover, &:focus {
      background: #eee;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #111;
      position: relative;
      z-index: 99999999;
      @include border-radius(3px);
      @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 3px inset);
    }
  }
}

#tag-msg {
  border-top: 1px solid #e9e9e9;
  color: #888;
  font: 12px "open-sans", sans-serif;
  padding: 18px;
  text-align: center;

  .icon {
    background-position: 0 -112px;
    height: 12px;
    width: 16px;
    margin-right: 5px;
    margin-left: 10px;
  }
}

.tag-actions {
  bottom: 3px;
  position: absolute;
}