.tipsy {
  opacity: 1!important;
  font-size: 11px;
}

.tipsy-inner {
  background: none !important;
  color: #165288;
  cursor: pointer;
  padding: 0;
  @include text-shadow(#fff 0px 1px 0px);

  div {
    color: #000;
    background: #EEE;
    display: block;
    padding: 5px;
    width: 250px;
    text-align: left;

    b {
      font-weight: bold;
    }

    img {
      margin: 0 3px;
    }
  }
}

.tipsy-arrow {
  display: none;
}
