.tour_item {
  margin: 20px 0 40px;
  @include pie-clearfix;
  
  h2 {
    font: bold 32px "gnuolane";
    margin-bottom: 12px;
  }
  
  .number {
    background: #fff;
    color: $blue;
    display: inline-block;
    font-size: 18px;
    height: 18px;
    line-height: 1;
    margin-right: 10px;
    padding: 8px;
    position: relative;
    text-align: center;
    top: -5px;
    width: 18px;
    @include border-radius(20px);
    @include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 2px);
  }
  
  p {
    display: block;
    float: left;
    margin-left: 3%;
    width: 46%;
  }
  
  img {
    border: 4px solid #fff;
    display: block;
    float: left;
    margin-left: 5.5%;
    width: 44%;
    @include box-shadow(rgba(0, 0, 0, 0.1) 0 1px 2px);
  }
  
  &.first {
    margin-top: 40px;
  }
}

.joyride-tip-guide {
  p {
    margin: 0 20px 18px 0 !important;
  }
}

.tour-inline {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px 0;
  @include box-shadow(rgba(0, 0, 0, 0.05) 0 0 10px);
}
.featured-inline {
  background: image_url("bg1.png") #137AC2;
  padding: 10px 0 45px;
  @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 10px, rgba(0, 0, 0, 0.2) 0 0 15px inset);
  .easy-signup {
    @include box-shadow(rgba(0, 0, 0, 0.2) 0 7px 10px);
  }
  .featured {
    @include background(radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.001) 70%));
  }
}