%p Hello #{@resource.email}!
%p You can accept your invitation through the link below:
%p= link_to 'Confirm my account', accept_invitation_url(@resource, :invitation_token => @resource.invitation_token)
